<section class="container p-5">
    <div class="m-sm-5 p-5 rounded-4 card">

        <header class="mt-5 mb-5">
            
            <h1 class="text-center">Conversor de Moedas</h1>
        </header>
        
        <p class="text-light">
            O conversor de moedas é uma aplicação que fornece os valores de conversão entre 
            moedas internacionais em tempo real ou simulado em uma data passada específica.
            Os dados são extraídos diretamente do banco de dados da Comissão Européia e conta
            com 170 moedas, mais de 6000 cripto moedas e 20 anos de dados.
        </p>
    </div>

</section>
